body {
    font-family: 'Tinos', sans-serif;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(239, 176, 188);
    height: 50px;
    padding: 20px 0;
    z-index: 99;
}

nav ul {
    position: absolute;
    right: 70px;
    top: 30px;
    margin: 0 auto;
}

.squad-11{
    font-size: 40px;
    margin-left: 200px;
}

nav li {
    display: inline;
    margin: 10px 15px 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 2.5px;
}

nav .link:hover {
    color: #BD4B4B;
    transition: 0.4s;
}

.titulo {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 0.5em 0 1.5em;
    letter-spacing: 2.5px;
    clear: left;
}

.fundo-squad{
    background-color: #ca6e6e;
    width: 100%;
    height: 500px;
    padding: 100px 0px;
}

#icone{
    display: block;
    width: 32%;
    margin: 20px auto 0px;
}

.informacoes p{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    margin: 0px auto 20px;
}

.fundo-portfolio{
    background-color: white;
    width: 100%;
    height: 500px;
}

h1, h3{
    color: #EFB7B7;
}

.fundo-sobre {
    background: rgb(180, 195, 222);
    height: 500px;
    padding: 20px 0;
    width: 100%;
}

h2{
    color: white;
}

#sobre div{
    height: 134px;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}

.nome-sobre{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0.5em;
}

.sobre-ale{
    text-align: left;
}

.sobre-duda{
    text-align: right;
}

.foto-perfil-1 {
    display: block;
    width: 10%;
    margin: 20px 30px 20px 200px;
    border-radius: 500px;
    opacity: 0.8;
    transition: 400ms;
    float: left;
}

.foto-perfil-2 {
    display: block;
    width: 10%;
    margin: 20px 200px 20px 30px;
    border-radius: 500px;
    opacity: 0.8;
    transition: 400ms;
    float: right;
}

.foto-perfil-1:hover, .foto-perfil-2:hover {
    opacity: 1;
}

.fundo-contato{
    background-color: white;
    width: 100%;
    height: 500px;
}

footer{
    background-color: rgb(150, 156, 230);
    height: 100px;
    width: 100%;
}
.copyright{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 40px;
    font-weight: bold;
}