body {
    font-family: 'Tinos', sans-serif;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #efb0bc;
    height: 50px;
    padding: 20px 0;
    z-index: 99;
}

.squad-11{
    font-size: 40px;
    margin-left: 15vw;
}

/**oculta o botão menu**/
.topo-menu-invisivel li button{
    display: none;
}

/**coloca a nav ao lado direito da pagina**/
.opcoes-menu{
    position: absolute;
    right: 70px;
    top: 30px;
    margin: 0 auto;
}

/**deixa cada link da nav lado a lado**/
nav li {
    display: inline;
    margin: 10px 15px 0 15px;
}

/**estilo de cada item da nav**/
nav a {
   
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 2.5px;
}

nav .link:hover {
    color: #BD4B4B;
    transition: 0.4s;
}

/**estilo do titulo de cada seção**/
.titulo {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 1em;
    letter-spacing: 2.5px;
    clear: left;
}

/**seção squad**/
.fundo-squad{
    background-color: #ca6e6e;
    width: 100%;
    padding: 100px 0px;
}

#icone{
    display: block;
    width: 32%;
    margin: 20px auto 0px;
}

.informacoes p{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    margin: 0px auto 20px;
}

.fundo-portfolio{
    background-color: white;
    width: 100%;
    height: auto;
}

h1, h3{
    color: #EFB7B7;
}

/**portfolio**/
#portfolio{
    margin: 8vw 15vw;
    margin-top: 0px;
}

#portfolio h4 {
    text-align: center;
    color: #5a5a5a;
    font-size: 1.1em;
}

#portfolio p {
    font-size: 1.1em;
    color: #5a5a5a;
    margin: 15px 0;
}

#portfolio p:before {
    content: "★";
    color: #5a5a5a;
}

#conteudos-portfolio li, .titulo-portfolio {
    margin: 30px 0px;
}
#conteudos-portfolio li span {
    color: #ca6e6e;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.botao-mais {
    color: #efb0bc;
    font-weight: bold;
    font-size: 15px;
    background: none;
    border: none;
    transition: 0.8s all;
    cursor: pointer;
}

a {
    color: white;
}

#modal1, #modal2, #modal3 {
    transition: 400ms;
    width: 100% !important;
    
}

.titulo-modal {
    color: #ca6e6e;
    text-align: center !important; 
    text-transform: uppercase !important;  
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 1em;
    letter-spacing: 1.5px;
}

/**sobre**/
.fundo-sobre {
    background: #b4c3de;
    height: 520px;
    padding: 20px 0;
    width: 100%;
}

h2{
    color: white;
}

#sobre div{
    height: 134px;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
    font-size: 1.1em;
}

/**estilo pros nomes do sobre**/
.nome-sobre{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0.5em;
}

.sobre-ale{
    text-align: left;
}
.sobre-duda{
    text-align: right;
}

.foto-perfil-1 {
    display: block;
    width: 10%;
    margin: 20px 30px 20px 15vw;
    border-radius: 500px;
    opacity: 0.8;
    transition: 400ms;
    float: left;
}

.foto-perfil-2 {
    display: block;
    width: 10%;
    margin: 20px 15vw 20px 30px;
    border-radius: 500px;
    opacity: 0.8;
    transition: 400ms;
    float: right;
}

.foto-perfil-1:hover, .foto-perfil-2:hover {
    opacity: 1;
}

.descricao {
    font-size: 20px;
}

.descricao-ale {
    margin: 10px;
}

.descricao-duda {
    margin: 10px;
}

.descricao-ale:before {
    content: "★";
}

.descricao-duda:after {
    content: "★";
}

/**deixa o menu visivel com o resize da pagina**/
.menu li button {
    position: absolute;
    right: 70px;
    top: 15px;
    margin: 0 auto;
    display: block;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: "tinos", sans-serif;
    font-size: 22px;
    font-weight: bold;
    width: 100px;
    background-color: #ca6e6e;
    border-radius: 20px;
    padding: 15px 0px;
    border-width:  0px;
}

.botao-menu:hover, .botao-menu:focus {
    border-color: white;
    border-width: thin!important;
    border-style: solid;
}

/**oculta as opcoes do menu**/
.opcoes-invisiveis{
    display: none;
}

/**mostra as opcoes do menu**/
.opcoes-visiveis{
    display: block;
    width: 100vw;
    height: 180px;    
    position: relative;
    background-color: #efb0bc;
    border-bottom: thin solid white;
    z-index: 1;
}

.opcoes-visiveis li{
    display: block;
    position: relative;
    top: 30px;
    text-align: center;
}

/**contato**/
.fundo-contato{
    background-color: white;
    width: 100%;
    height: 100px;
}

form {
    width: 50vw;
    padding: 40px 4% 20px 4%;
    margin: auto;
    margin-bottom: 140px;
    text-align: center;
    background-color: #fff2f5;
    border: 1.5px solid #efb0bc;
    border-radius: 30px;
}

form label, form legend {
    color: #5a5a5a;
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrão {
    margin: 10px auto 20px auto;
    border: 2px solid #efb0bc;
    border-radius: 5px;
    display: block;
    padding: 10px 15px;
    width: 50%;
}

.input-padrão:focus{
    outline: none!important;
    border: 2px solid #BD4B4B;
}
.enviar:hover {
    background: #ca6e6e;
    transform: scale(1.2);
}

.enviar {
    width: 53%;
    padding: 15px 0;
    background: #efb0bc;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.8s all;
    cursor: pointer;
    margin-bottom: 70px;
}

/**rodapé**/
footer {
    background-color: #969ce6;
    height: 210px;
    width: 100%;
    flex-direction: column;
}

footer h4 {
    margin: auto;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
}
.box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

footer img {
    display: inline-block;
    margin: 30px 5px 10px 5px;
    width: 2.9vw;
    max-width: 2.9vw;
    border: 2.5px solid white;
    border-radius: 50px;
}

.icones{
    margin: 0px 15vw;
}

.icone-linkedin-ale:hover, .icone-linkedin-duda:hover, .icone-email-ale:hover, .icone-email-duda:hover, .icone-telefone-ale:hover, .icone-telefone-duda:hover{
    border-color: #757ab6;
}

.copyright {
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #757ab6;
    text-transform: uppercase;
    padding: 30px;
    font-weight: bold;
}